.banner_photo{
    display: flex;
    justify-content: flex-end;
    position: relative;

}
.banner_photo img{
    width: 100%;
    max-width: 1241px;
    position: relative;
    
}

.banner{
    margin-top: 24px;
}
.banner_text{
    width: 100%;
    background: linear-gradient(70.42deg, #111111 15.93%, rgba(0, 0, 0, 0) 115.05%);
    position: relative;
    top: -198px;

}


.banner_title{
    font-family: 'Bellefair';
    font-weight: 400;
    font-style: normal;
    font-size: 91.6124px;
    line-height: 105px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 1168px;
    margin: 0 auto;
    padding: 83px 0px 102px 0px
}








